{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container ">
    <div class="row align-items-start">
        <div class="row">
            <div class="col-3 mt-5">
                
            </div>
            <div class="col-6">
                <div class="border">
                    
                </div>
               
            </div>
            <div class="col-3 mt-1">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control rounded-pill" placeholder="Search in Twit"
                            aria-label="First name">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="twit-modal" tabindex="-1" aria-labelledby="twitModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          
        </div>
    </div>
</div>
{% endblock %}