{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Profile {{ user.username|capfirst }} {% endblock title %}
{% block style %}
    <style>
        #img-profile {
            width: 8rem;
            height: 8rem;
            border-radius: 100px;
        }

        #background {
            width: 100%;
            height: 10rem;
        }

        textarea {
            height: 5.6rem;
            resize: none;
        }
    </style>
{% endblock style %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-3 mt-5">
                {% if request.user.is_authenticated %}
                    <div class="list-group">
                        <a href="{% url 'index' %}" type="button"
                           class="list-group-item list-group-item-action">Home</a>
                        <a href="{% url 'profile' username=user.username %}" type="button"
                           class="list-group-item list-group-item-action">Profile</a>
                        <button type="button" class="btn btn-primary rounded-pill mt-3" data-bs-toggle="modal"
                                data-bs-target="#twit-modal">
                            Twitear
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="col-6">
                <div class="border p-2">
                    <img src="{{ user.profile.profile_picture.url }}" alt="background" id="background">
                    <div class="d-flex align-items-center justify-content-between">
                        <img src="{{ user.profile.background_picture.url }}" alt="profile" id="img-profile">
                        <div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                Edit your profile
                            </button>
                        </div>
                    </div>
                    <p>{{ user.get_full_name }}</p>
                    <p>@{{ user.username }}</p>
                    <p>{{ user.profile.biography }}</p>
                    <div class="d-flex">
                        <p>{{ user.profile.location }}</p>
                        <p style="margin-left: 3rem">Joined in {{ user.profile.create_at }}</p>
                    </div>
                    <div class="d-flex">
                        <p>450 Followers</p>
                        <p style="margin-left: 3rem">450 Following</p>
                    </div>
                </div>
                <ul class="nav nav-tabs d-flex justify-content-between border" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                                type="button" role="tab" aria-controls="home" aria-selected="true">Twit
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">Twits and
                            responses
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                                type="button" role="tab" aria-controls="contact" aria-selected="false">Likes
                        </button>
                    </li>
                </ul>
                <div class="tab-content border" style="height: 100vh" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        {% for twit in twits %}
                            <div class="card" style="width: 100%">
                                <div class="card-body">
                                    <h6 class="card-title">
                                        <div class="d-flex justify-content-start align-items-center">
                                            <img style="width: 2rem; height: 2rem" class="rounded-circle"
                                                 src="{{ twit.author.profile.background_picture.url }}" alt="user">
                                            <a href="{% url 'profile' username=user.username %}">
                                                <label style="margin: 0px 5px">{{ twit.author.get_full_name }}
                                                </label> <label class="text-muted">@{{ twit.author.username }}</label>
                                            </a>
                                            ·
                                            <label>{{ twit.created_at }}</label>
                                        </div>
                                    </h6>
                                    <p class="card-text" style="margin-left: 2.5rem">{{ twit.twit }}</p>
                                    <div class="d-flex justify-content-evenly">
                                        <a href="{% url 'twit:comment' pk=twit.pk%}" class="btn">comment</a>
                                        <button class="btn">retwit</button>
                                        <form method="post" action="{% url 'twit:like' pk=twit.pk%}?url=profile&user=true">{% csrf_token %}
                                        <input value="like" name="like" id="like" type="submit" class="btn"
                                        {% if twit.like_set %}
                                            {% for like in twit.like_set.all %}
                                                {% if like.author == request.user and like.like == True %}
                                                    style="color: blue;"
                                                {% endif %}
                                            {% endfor %}
                                            >
                                            <input type="hidden" value="{{ twit.author }}" name="user"/>
                                        {% else %}
                                        <button class="btn">like</button>
                                        {% endif %}
                                    </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">profile</div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">likes</div>
                </div>
            </div>
            <div class="col-3 mt-1">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control rounded-pill" placeholder="Search in Twit"
                               aria-label="First name">
                    </div>
                </div>
            </div>
        </div>

    </div>




    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit your profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post">{% csrf_token %}
                    <div class="modal-body">
                        <label>Name</label>
                        <p></p>
                        <input value="{{ request.user.get_full_name}}" type="text" name="name" id="name" class="mb-3 form-control">
                        {{ form|crispy }}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="twit-modal" tabindex="-1" aria-labelledby="twitModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'twit:create-twit' %}?url=profile&user=true" method="post"> {% csrf_token %}
                <div class="modal-body">
                    <textarea style="width: 100%; border: none; outline: none" name="twit" id="twit" required
                              placeholder="What's happening?"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                    </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <script>
        var triggerTabList = [].slice.call(document.querySelectorAll('#myTab button'))
        triggerTabList.forEach(function (triggerEl) {
            var tabTrigger = new bootstrap.Tab(triggerEl)

            triggerEl.addEventListener('click', function (event) {
                event.preventDefault()
                tabTrigger.show()
            })
        })
    </script>
{% endblock js %}
