{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-3 mt-5">
                
            </div>
            <div class="col-6">
            </div>
            <div class="col-3 mt-1">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control rounded-pill" placeholder="Search in Twit"
                               aria-label="First name">
                    </div>
                </div>
            </div>
        </div>

    </div>




    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit your profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post">{% csrf_token %}
                    <div class="modal-body">
                        <label>Name</label>
                        <p></p>
                        <input value="{{ request.user.get_full_name}}" type="text" name="name" id="name" class="mb-3 form-control">
                        {{ form|crispy }}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="twit-modal" tabindex="-1" aria-labelledby="twitModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'twit:create-twit' %}?url=profile&user=true" method="post"> {% csrf_token %}
                <div class="modal-body">
                    <textarea style="width: 100%; border: none; outline: none" name="twit" id="twit" required
                              placeholder="What's happening?"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                    </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <script>
        var triggerTabList = [].slice.call(document.querySelectorAll('#myTab button'))
        triggerTabList.forEach(function (triggerEl) {
            var tabTrigger = new bootstrap.Tab(triggerEl)

            triggerEl.addEventListener('click', function (event) {
                event.preventDefault()
                tabTrigger.show()
            })
        })
    </script>
{% endblock js %}
