{% extends 'base.html' %}
{% load static %}


    {% block title %} Register {% endblock title %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          <strong>Great!</strong>  {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endfor %}
    <div class="container mt-5 w-50">
        <h1>Welcome to twitter</h1>
        <h4>Please register to sing in</h4>
        <form method="post">{% csrf_token %}
            
        <center>
            <button type="submit" class="btn btn-primary btn-lg btn-block" style="width: 50%"> register</button>
            <p class="mt-2">Already register?<a href="{% url 'login' %}">Sing in here.</a></p>
        </center>


        </form>
    </div>

{% endblock %}

